<div class="content">
  <h4>Nowy wydatek w kolekcji {{data.collection.name}}:</h4>

  <div mat-dialog-content>

    <mat-form-field class="inputField">
      <input matInput [matDatepicker]="picker" [(ngModel)]="date" placeholder="Data">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="inputField">
      <input matInput type="number" [(ngModel)]="value" placeholder="Wartość">
    </mat-form-field>

    <mat-form-field class="inputField">
      <textarea matInput maxlength="100" [(ngModel)]="description" placeholder="Opis"></textarea>
    </mat-form-field>

  </div>

  <div mat-dialog-actions fxLayoutAlign="center">
    <button mat-button (click)="close()">Anuluj</button>
    <button mat-button color="primary" (click)="addExpense()" cdkFocusInitial>Dodaj</button>
  </div>
</div>
